
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About</h1>
    <div class="row">
    <p> My Solution to Brite Core Implementation Engineer Test</p>
    </div>
</div>
{% endblock %}

