
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello</h1>
      <p>To help implement new Features, we'll like you to make a feature request, so it that will be added onto an existing piece of
software.</p>
      <p><a href="{{ url_for('user.members') }}" class="btn btn-primary btn-large">Request a Feature &raquo;</a></p>
    </div>
</div><!-- /.jumbotron -->

<div class="container">
  <h3 class="text-center">Technologies Used</h3> <br>
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> Bootstrap 4</h2>
      <p>Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> SQLAlchemy</h2>
      <p>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.</p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> WTForms</h2>
      <p>WTForms is a flexible forms validation and rendering library for python web development.</p>
    </div>
  </div><!-- /.row --> <br>
    <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-server"></i> Heroku</h2>
      <p>Heroku is a platform as a service (PaaS) that enables developers to build, run, and operate applications entirely in the cloud.</p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-fire"></i> Flask </h2>
      <p>Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries.</p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-globe"></i> jQuery/JavaScript</h2>
      <p> jQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as well as event handling, animation, and Ajax.</p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

