
{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h3>Hi, {{ current_user.username }}</h3>

        <h3 class="h3 text-muted"> Kindly fill the form to make a feature request </h3>
        
        <form action="" method="post" novalidate>

            {% if form.errors %}
                <ul class="errors alert alert-danger">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}

            {{ form.hidden_tag() }}
            <div class="form-group">
                <p>
                    {{ form.title.label }}<br>
                    {{ form.title(class="form-control", placeholder="Enter Feature Request Title") }}
                </p>
            </div>
            <div class="form-group">
                <p>
                    {{ form.description.label }}<br>
                    {{ form.description(class="form-control", placeholder="Enter Feature Request Description") }}
                </p>
            </div>
            <div class="form-group">
                <p>
                    {{ form.client.label }}<br>
                    {{ form.client(class="form-control", placeholder="Select Feature Request Client") }}
                </p>
            </div>
            <div class="form-group">
                <p>
                    {{ form.client_priority.label }}<br>
                    {{ form.client_priority(class="form-control", placeholder="Enter Feature Request Priority No.") }}
                </p>
            </div>
            <div class="form-group">
                <p>
                    {{ form.target_date.label }}<br>
                    {{ form.target_date(class="form-control datepicker", placeholder="Enter Feature Request Target Date: 'YYYY-MM-DD'") }}
                </p>
            </div>
            <div class="form-group">
                <p>
                    {{ form.product_area.label }}<br>
                    {{ form.product_area(class="form-control", placeholder="Select Feature Request Product Area") }}
                </p>
            </div>
            <p>{{ form.submit(class="btn btn-primary") }}</p>
        </form>
    </div>
{% endblock %}

